<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다이로움 페이백</title>
    <meta name="author" content="송유진" />
    <meta name="description" content="다이로움 페이백 가능지점" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/map.css}" />
    <link href="https://cdn-icons-png.flaticon.com/512/306/306776.png" rel="shortcut icon" type="image/x-icon">
</head>

<body>
<nav>
    <div class="inner">
        <div class="nav-container">
            <h1 class="nav-title"><a href="/">다이로움 지도</a></h1>

            <div class="sign-container">
                <!-- 회원 -->
                <div class="signed">
                    <div class="dropdown">
                        <div class="dropdown-button">
                            안녕하세요. <span th:text="|${#authentication.name}|"></span>님.
                        </div>
                        <form th:action="@{/logout}" method="post">
                            <div class="dropdown-content">
                                <button type="submit" id="sign-out">로그아웃</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>

<div class="inner">
    <div class="board_title">
        <strong>자유게시판</strong>
        <p>자유롭게 소통할 수 있는 공간입니다.</p>
    </div>

    <div class="board_list_wrap">
        <table class="board_list">
            <thead>
                <tr class="top">
                    <th class="num">번호</th>
                    <th class="title">제목</th>
                    <th class="writer">글쓴이</th>
                    <th class="date">작성일</th>
                    <th class="views">조회수</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="list,index : ${resultMap.list}" th:with="paging=${resultMap.paging}">
                    <td class="num"><span th:text="${(resultMap.totalCnt - index.index)-(paging.pageNumber * paging.pageSize)}"></span></td>
                    <td class="title"><a th:href="@{/board/{postId}(postId=${list.id})}" th:text="${list.title}">제목</a></td>
                    <td class="writer" th:text="${list.users?.loginId}">작성자</td>
                    <td class="date" th:text="${list.registerDate}">작성일</td>
                    <td class="views" th:text="${list.count}">조회수</td>
                </tr>

            </tbody>
        </table>

        <div class="board_page">

            <th:block th:each="page : ${#numbers.sequence(resultMap.startPage, resultMap.endPage)}">
                <a class="num on" th:if="${page == resultMap.nowPage}"  th:text="${page}"></a>
                <a class="num" th:if="${page != resultMap.nowPage}" th:href="@{/board/(page = ${page-1})}" th:text="${page}"></a>
            </th:block>

        </div>

        <div class="bt_wrap">
            <button th:onclick="|location.href='@{/board/register}'|" type="button" class="on">글쓰기</button>
        </div>
    </div>
</div>


</main>
</body>
</html>
