<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>다이로움 페이백</title>
  <meta name="author" content="송유진" />
  <meta name="description" content="다이로움 페이백 가능지점" />
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script type="text/javascript" src="/js/writeComment.js"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link rel="stylesheet" th:href="@{/css/map.css}" />
  <link href="https://cdn-icons-png.flaticon.com/512/306/306776.png" rel="shortcut icon" type="image/x-icon">
</head>

<body>
<nav>
  <header th:replace="fragments/header::headerFragment"></header>
</nav>

<div class="inner">
  <div class="board_title">
    <strong>자유게시판</strong>
  </div>
  <div class="board_view_wrap">
    <div class="board_view">
      <div class="title">
        <div type="text" id="postTitle" name="postTitle" class="form-control"
             value="제목" th:text="${post.title}" readonly>지금 실험중입니당</div>
      </div>

      <div class="info">

        <div class="info1">
          <dt>번호</dt>
          <div type="text" id="postId" name="postId" class="form-control"
               value="1" th:text="${post.id}" readonly>1</div>
        </div>

        <div class="info1">
          <dt>글쓴이</dt>
          <div type="text" id="writer" name="postTitle" class="form-control"
               value="작성자" th:text="${post.users.loginId}" readonly>유진</div>
        </div>

        <div class="info1">
          <dt>작성일</dt>
          <div type="text" id="registerDate" name="registerDate" class="form-control"
               value="작성자" th:text="${post.registerDate}" readonly>2023. 04. 16</div>
        </div>

        <div class="info1">
          <dt>조회수</dt>
          <div type="text" id="clickEvent" name="clickEvent" class="form-control"
               value="조회수" th:text="${board.count}" readonly>234</div>
        </div>

      </div>
      <div class="cont">
        <div class="form-control" rows="5" id="postContent" name="postContent"
             th:value="${post.content}" th:text="${post.content}" readonly>글 내용 글 내용 글 내용 글 내용</div>
      </div>
    </div>

    <div class = "count">
      <dt>댓글</dt>
      <div class="comment-count" th:text="${#lists.size(commentList)}">1</div>

      <div class="like-box">
        <!-- 로그인 유저와 작성자가 동일하지 않다면 -->
        <!-- 좋아요 -->
        <input type="hidden" id="boardId" th:value="${post.id}">
        <input type="hidden" id="like_check" th:value="${like}">
        <img class="like-btn" th:id="likeImg" src="/image/empty_heart.png">

        <div style="color:black">좋아요</div>
        <div class="like-count" th:text="${post.likeCount}"></div>
      </div>

    </div>

    <hr>

    <!-- 댓글 리스트 -->
    <div class="comment-list" th:each="comment : ${board.comments}">
        <div class="comment-id" th:text="${comment.users.loginId}">유찡</div>
        <div class="comment-content" th:text="${comment.content}">안녕하세요</div>

        <div class="comment-etc">
            <div class="comment-date"th:text="${comment.createdDate}">2023.04.16</div>
            <div class="comment-mod">
                <form action="post.html" method="post">
                    <span th:if="${#authentication.principal.users.id} == ${comment.users.id}">
                        <input type="hidden" th:value="${comment.id}" id="commentId" name="commentId">
                        <!--<button class="mod" th:onclick="|location.href='@{/{postId}/comment/{commentId}(postId=${post.id})}'|" type="button">수정</button>-->
                        <button class="comment-delete" type="submit" onclick="if(!confirm('삭제하시면 복구할 수 없습니다.\n정말로 삭제하시겠습니까?')){return false;}"
                                th:formaction="|/board/${comment.board.id}/comment/delete|">삭제</button>
                    </span>
                </form>
            </div>
        </div>
        <hr>
    </div>

    <div>
      <!-- 댓글 작성 -->
      <div class="comment">댓글</div>
        <form th:action="@{/board/{postId}/comment(postId=${post.id})}" th:object="${comments}" method="post">
          <textarea id="comment-input" class="comment-input" th:field="*{contents}" placeholder="댓글을 입력해 주세요."></textarea>
          <button type="submit" id="comment-btn" class="comment-btn">댓글 등록</button>
        </form>
    </div>

    <div class="bt_wrap">
      <form th:action="@{/board/{postId}/delete(postId=${post.id})}" method="post">
        <button th:onclick="|location.href='@{/board}'|" type="button" class="on">목록</button>
        <span th:if="${#authentication.principal.users.id} == ${board.users.id}">
          <button th:onclick="|location.href='@{/board/{postId}/edit(postId=${post.id})}'|" type="button">수정</button>
          <button type="submit" onclick="if(!confirm('삭제하시면 복구할 수 없습니다.\n정말로 삭제하시겠습니까?')){return false;}">삭제</button>
        </span>
      </form>
    </div>

  </div>
</div>


</main>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/js/likeCheck.js"></script>

</body>
</html>
