<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다이로움 페이백</title>
    <meta name="author" content="송유진" />
    <meta name="description" content="다이로움 페이백 가능지점" />
    <link href="https://cdn-icons-png.flaticon.com/512/306/306776.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<nav>
    <div class="inner">
        <div class="nav-container">
            <h1 class="nav-title"><a href="/">다이로움 지도</a></h1>

            <div class="sign-container">
                <!-- 회원 -->
                <div class="signed">
                    <div class="dropdown">
                        <div class="dropdown-button">
                            안녕하세요. <span th:text="|${#authentication.name}|"></span>님.
                        </div>
                        <form th:action="@{/logout}" method="post">
                            <div class="dropdown-content">
                                <button type="submit" id="sign-out">로그아웃</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>

<main>
    <div class="inner">
        <form th:action th:object="${storeDto}" method="post">
        <div class="signin-container">
            <h2>관리자 페이지_업체 추가</h2>
            <div class="admin-form">
                <div class="category">카테고리</div>
                <select name="category" class="select" th:value="*{category}">
                    <option disabled selected>카테고리 선택</option>
                    <option value="allGasStation" th:selected="*{category}=='전체 주유소'">전체 주유소</option>
                    <option value="payBackGas" th:selected="*{category}=='페이백 주유소'">페이백 주유소</option>
                    <option value="noPayBack" th:selected="*{category}=='페이백 제외 업체'">페이백 제외 업체</option>
                </select>

                <div class="store-name">가게 이름</div>
                <input type="text" id="store-name" th:field="*{title}" class="form-control"
                    th:errorclass="field-error"/>
                <div class="field-error" th:errors="*{title}"></div>

                <div class="address">주소</div>
                <input type="text" id="address" th:field="*{address}" class="form-control"
                       th:errorclass="field-error"/>
                <div class="field-error" th:errors="*{address}"></div>

                <div class="bt_add">
                    <button type="submit" class="add">등록</button>
                </div>

                <!-- signup-container -->
            </div>
            <!-- signin-form -->
        </div>
        <!-- signin-container -->
        </form>
    </div>
</main>

<script
        src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
        integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
></script>
<script src="./signup.js"></script>
</body>
</html>