<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다이로움 페이백</title>
    <meta name="author" content="송유진" />
    <meta name="description" content="다이로움 페이백 가능지점" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link href="https://cdn-icons-png.flaticon.com/512/306/306776.png" rel="shortcut icon" type="image/x-icon">
</head>

<body>
<nav>
    <div class="inner">
        <div class="nav-container">
            <h1 class="nav-title"><a href="/">다이로움 지도</a></h1>
        </div>
    </div>
</nav>

<div class="inner">
    <div class="board2_title">
        <strong>관리자 페이지_업체 관리</strong>
        <div class="category-list">
            <button class="category-item2" type="button"
                    th:onclick="|location.href='@{/admin/users/userList}'|">유저 관리로 이동</button>
            <div class="bt_search">
                <form action="/admin/list" method="GET" class="search-form" role="search">
                    <input type="text" name="keyword" class="form-control" id="search" placeholder="검색하기">
                    <button class="search_btn">검색</button>
                </form>
            </div>
        </div>
    </div>

    <div class="board_edit_wrap">

        <table class="board_edit">
            <thead>
            <tr class="top">
                <th width="30%" class="title">이름</th>
                <th width="40%" class="address">주소</th>
                <th width="15%" class="category">카테고리</th>
                <th width="15%" class="management">관리</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="store : ${resultMap.list}">
                <td width="30%" class="title" th:text="${store.title}">안녕하세요</td>
                <td width="40%" class="address" th:text="${store.address}">2022.12.04</td>
                <td width="15%" class="category" th:text="${store.category}">123</td>
                <td>
                    <form th:action="@{/admin/{storeId}/delete(storeId=${store.id})}" method="post">
                        <button th:onclick="|location.href='@{/admin/{storeId}/edit(storeId=${store.id})}'|"
                                type="button">수정</button>
                        <button class="btn_delete" type="submit">삭제</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="board_page">

            <th:block th:each="page : ${#numbers.sequence(resultMap.startPage, resultMap.endPage)}">
                <a class="num on" th:if="${page == resultMap.nowPage}"  th:text="${page}"></a>
                <a class="num" th:if="${page != resultMap.nowPage}" th:href="@{/admin/adminList/(page = ${page-1})}" th:text="${page}"></a>
            </th:block>

        </div>

        <div class="bt_add">
            <button th:onclick="|location.href='@{/admin/storeAdd}'|" type="button" class="add">추가</button>
            <!-- <a href="#">수정</a> -->
        </div>
    </div>
</div>


</main>
</body>
</html>
