<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다이로움 페이백</title>
    <meta name="author" content="송유진" />
    <meta name="description" content="다이로움 페이백 가능지점" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link href="https://cdn-icons-png.flaticon.com/512/306/306776.png" rel="shortcut icon" type="image/x-icon">
</head>

<body>
<nav>
    <div class="inner">
        <div class="nav-container">
            <h1 class="nav-title"><a href="/">다이로움 지도</a></h1>
        </div>
    </div>
</nav>

<div class="inner">
    <div class="board2_title">
        <strong>관리자 페이지_업체 관리</strong>
        <div class="category-list">
            <button class="category-item2" id="noPayBack" type="button"
                    th:onclick="|location.href='@{/admin/userList}'|">유저 관리로 이동</button>
        </div>
    </div>

    <div class="board_edit_wrap">

        <table class="board_edit">
            <thead>
            <tr class="top">
                <th width="15%" class="name">이름</th>
                <th width="55%" class="address">주소</th>
                <th width="15%" class="category">카테고리</th>
                <th width="15%" class="management">관리</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="15%" class="name">안녕하세요</td>
                <td width="55%" class="address">2022.12.04</td>
                <td width="15%" class="category">123</td>
                <td>
                    <button onClick="location.href='adminEdit.html'" class="btn_edit" type="submit">수정</button>
                    <button class="btn_delete" type="submit">삭제</button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="board_page">
            <a href="#" class="bt first"><<</a>
            <a href="#" class="bt prev"><</a>
            <a href="#" class="num on">1</a>
            <a href="#" class="num">2</a>
            <a href="#" class="num">3</a>
            <a href="#" class="num">4</a>
            <a href="#" class="num">5</a>
            <a href="#" class="bt next">></a>
            <a href="#" class="bt last">>></a>
        </div>
        <div class="bt_add">
            <a href="adminAdd.html" class="on">추가</a>
            <!-- <a href="#">수정</a> -->
        </div>
    </div>
</div>


</main>
</body>
</html>
