<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다이로움 페이백</title>
    <meta name="author" content="송유진" />
    <meta name="description" content="다이로움 페이백 가능지점" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link href="https://cdn-icons-png.flaticon.com/512/306/306776.png" rel="shortcut icon" type="image/x-icon">
</head>

<body>
<nav>
    <div class="inner">
        <div class="nav-container">
            <h1 class="nav-title"><a href="/">다이로움 지도</a></h1>
        </div>
    </div>
</nav>

<div class="inner">
    <div class="board2_title">
        <strong>관리자 페이지_유저 관리</strong>
        <div class="category-list">
            <button class="category-item2" id="noPayBack" type="button"
                    th:onclick="|location.href='@{/admin/store}'|">업체 관리로 이동</button>
        </div>
    </div>


    <div class="board_edit_wrap">

        <table class="user_management">
            <thead>
            <tr class="top">
                <th width="5%" class="number">번호</th>
                <th width="10%" class="userId">유저 아이디</th>
                <th width="10%" class="name">이름</th>
                <th width="10%" class="loginId">아이디</th>
                <th width="10%" class="age">나이</th>
                <th width="10%" class="verify">권한번호</th>
                <th width="10%" class="management">관리</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user,index : ${resultMap.list}" th:with="paging=${resultMap.paging}">
                <td class="num"><span th:text="${(resultMap.totalCnt - index.index)-(paging.pageNumber * paging.pageSize)}"></span></td>
                <td width="10%" class="userId" th:text="${user.id}">13</td>
                <td width="10%" class="name" th:text="${user.name}">송유진</td>
                <td width="10%" class="loginId" th:text="${user.loginId}">syj9471</td>
                <td width="10%" class="age" th:text="${user.age}">24</td>
                <td width="10%" class="verify" th:text="${user.userRole}">0</td>

                <form th:action="@{/admin/users/{userId}/delete(userId=${user.id})}" method="post">
                    <td>
                        <button class="btn_delete" type="submit">삭제</button>
                    </td>
                </form>

            </tr>
            </tbody>
        </table>

        <div class="board_page">

            <th:block th:each="page : ${#numbers.sequence(resultMap.startPage, resultMap.endPage)}">
                <a class="num on" th:if="${page == resultMap.nowPage}"  th:text="${page}"></a>
                <a class="num" th:if="${page != resultMap.nowPage}" th:href="@{/board/(page = ${page-1})}" th:text="${page}"></a>
            </th:block>

        </div>

</div>


</main>
</body>
</html>
