<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다이로움 페이백</title>
    <meta name="author" content="송유진" />
    <meta name="description" content="다이로움 페이백 가능지점" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/map.css}" />
    <link href="https://cdn-icons-png.flaticon.com/512/306/306776.png" rel="shortcut icon" type="image/x-icon">
</head>

<body>
<nav>
    <header th:replace="fragments/header::headerFragment"></header>
</nav>

<main>
    <!-- 카테고리 -->
    <section id="category">
        <div th:replace="fragments/category::categoryFragment"></div>
    </section>

    <!-- 카카오지도 -->
    <div id="map" class="inner"></div>

    <div class="inner">
        <div class="jewel" ><a href="https://www.flaticon.com/free-icons/jewel" title="jewel icons">Jewel icons created by Freepik - Flaticon</a></div>
        <div class="pin"> Icons made by <a href="https://www.flaticon.com/authors/graphixs-art" title="Graphix's Art"> Graphix's Art </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8e13ffd8f4a2493c9908639e5b9fe61c&libraries=services,clusterer,drawing"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/mapScript.js"></script>

</body>
</html>