<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다이로움 페이백</title>
    <meta name="author" content="송유진" />
    <meta name="description" content="다이로움 페이백 가능지점" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/map.css}" />
    <link href="https://cdn-icons-png.flaticon.com/512/306/306776.png" rel="shortcut icon" type="image/x-icon">
</head>

<body>
<nav>
    <div class="inner">
        <div class="nav-container">

            <h1 class="nav-title"><a href="/">다이로움 지도</a></h1>

            <div class="sign-container">
                <!-- 회원 -->
                <div class="signed">
                    <div class="dropdown">
                        <div class="dropdown-button">
                            안녕하세요. <span th:text="|${#authentication.name}|"></span>님.
                        </div>
                        <form th:action="@{/logout}" method="post">
                            <div class="dropdown-content">
                                <button type="submit" id="sign-out">로그아웃</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>

<main>
    <!-- 카테고리 -->
    <section id="category">
        <div class="inner">
            <div class="category-container">
                <h2 class="category-title">원하는 카테고리를 선택해보세요</h2>
                <div class="category-list">
                    <button class="category-item" id="allGasStation">전체 주유소</button>
                    <button class="category-item" id="payBackGas">페이백 주유소</button>
                    <button class="category-item" id="noPayBack">페이백 제외 지점</button>
                    <button class="category-item" id="BOARD" type="button"
                            th:onclick="|location.href='@{/board}'|">자유 게시판</button>
                </div>
            </div>
        </div>
    </section>

    <!-- 카카오지도 -->
    <div id="map" class="inner"></div>

    <div class="inner">
        <div class="jewel" ><a href="https://www.flaticon.com/free-icons/jewel" title="jewel icons">Jewel icons created by Freepik - Flaticon</a></div>
        <div class="pin"> Icons made by <a href="https://www.flaticon.com/authors/graphixs-art" title="Graphix's Art"> Graphix's Art </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8e13ffd8f4a2493c9908639e5b9fe61c&libraries=services,clusterer,drawing"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/script.js"></script>

</body>
</html>