<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

  <div th:fragment="categoryFragment" class="inner">
    <div class="category-container">
      <h2 class="category-title">원하는 카테고리를 선택해보세요</h2>
      <h3 class="category-sign">마커가 전부 뜨기 전에 카테고리 버튼을 누르면 정확하지 않은 정보가 뜹니다.</h3>
      <div class="category-list">
        <button type="button" class="category-item1" id="allGasStation">전체 주유소</button>
        <button type="button" class="category-item1" id="payBackGas">페이백 주유소</button>
        <button type="button" class="category-item1" id="noPayBack">페이백 제외 지점</button>
        <button class="category-item1" id="BOARD" type="button" th:onclick="|location.href='@{/board}'|">자유 게시판</button>
        <span sec:authorize="hasRole('ROLE_ADMIN')">
           <button type="button" class="category-item1" id="management" th:onclick="|location.href='@{/admin/users/userList}'|">관리자 페이지</button>
        </span>
      </div>
    </div>
  </div>

</html>