/* 카카오 */
.head {
    border-radius: 6px;
    margin-bottom: 12px;
    float:left;
    position: relative;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ddd;
    background-color:#fff;
  }
  .head:nth-of-type(n) {
    border:0;
    box-shadow: 0px 1px 2px #888;
  }
  .head a {
    display: block;
    background: #3aad53;
    background: #3aad53 no-repeat right 14px center;
    text-decoration: none;
    color: #fff;
    padding:12px 36px 12px 14px;
    font-size: 14px;
    border-radius: 6px 6px 0 0
  }
  .head a strong {
    background: no-repeat;
    padding-left: 3px;
  }
  .head .desc {
    padding: 14px;
    position: relative;
    min-width: 190px;
    height: 56px
  }
  .head .address {
    font-size: 12px;
    color: #333;
    position: absolute;
    padding: 5px 5px 0px 0px;
    /* left: 10px;
    right: 14px;
    top: 15px; */
    white-space: normal
  }
  .head:after {
    content:'';
    position: absolute;
    margin-left: -11px;
    left: 50%;
    bottom: -12px;
    width: 22px;
    height: 12px;
    background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png)
      no-repeat 0 bottom;
  }